.article-text-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  justify-content: space-between; }
  .article-text-container .heading {
    margin: 0; }

/*# sourceMappingURL=container.css.map */
