.arrowIcon {
  font-size: 30px; }

.circleIcon {
  font-size: 12px; }

.icon-button {
  height: 30px;
  font-size: 30px;
  padding: 0;
  background: none;
  border: none; }

.icon-button:disabled {
  color: #999999; }

/*# sourceMappingURL=icon_button.css.map */
