@import "./../../scss/icons";
@import "./../../scss/constants/colours";

.icon-button {
  height: $default-icon-size;
  font-size: $default-icon-size;
  padding: 0;
  background: none;
  border: none;
}

.icon-button:disabled {
  color: $grey;
}
