@import "./../sizes";

$img-height: $compact-card-width * 1.25;
$img-width: $compact-card-width;

.book-cover-static {
  height: $img-height;
  width: $img-width;
  min-height: $img-height;
  min-width: $img-width;
  object-fit: cover;
  margin-right: 30px;
}
