@import "./../../../scss/constants/colours";
@import "./../../../scss/constants/margins_paddings";

.filled-full-screen-book-card {
  padding-bottom: $top-bottom;
  background-color: $light-brown;
  color: white;
}
