.pagination-container {
  display: flex;
  justify-content: center; }
  .pagination-container button:not(:last-child) {
    margin-right: 10px; }
  .pagination-container span {
    margin-right: 10px; }

/*# sourceMappingURL=pagination_container.css.map */
