.about-us-info-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  p {
    margin-top: 0;
  }
}

.contacts-and-menu-container {
  width: 40%;
}

.social-media-icons {
  width: 40%;
}

.additional-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contacts-container {
  p {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-info-content-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contacts-and-menu-container {
    width: 100%;
  }

  .social-media-icons {
    width: 250px;
  }
}
