@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
button {
  height: 43px;
  width: max-content;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  text-transform: uppercase; }

.button-filled {
  background-color: #b35340;
  color: white; }

.button-filled:hover {
  background-color: #6f3637; }

.button-unfilled {
  background: none;
  border: 1px solid #b35340; }

.button-unfilled:hover {
  border-color: #6f3637; }

.button-dark-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
  color: #666666; }

.button-dark-link:hover {
  color: #474747; }

.button-light-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
  color: white; }

.button-light-link:hover {
  color: #CCCCCC; }

.button-current-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  color: #999999; }

.form-input-field-container {
  width: 100%;
  margin-right: 15px; }

.form-input-field {
  height: 43px;
  width: 100%;
  border-color: #999999;
  border-width: 1px;
  border-radius: 30px;
  padding: 10.75px;
  font: 16px "Open Sans", sans-serif;
  margin-bottom: 10px; }

.form-input-field::placeholder {
  color: #999999; }

/*# sourceMappingURL=form_input_field.css.map */
