@import "../../../scss/constants/colours";
@import "../../../scss/constants/fonts";
@import "../../../buttons/button/button";

.form-input-field-container {
  width: 100%;
  margin-right: 15px;
}

.form-input-field {
  height: $button-height;
  width: 100%;
  border-color: $grey;
  border-width: 1px;
  border-radius: $border-radius;
  padding: $button-height * 0.25;
  font: $plain-text;
  margin-bottom: 10px;
}

.form-input-field::placeholder {
  color: $grey;
}
