.dossier-container {
  display: flex;
  margin: 5px 5px 5px 0; }
  .dossier-container a {
    margin-right: 10px;
    margin-left: 10px; }
  .dossier-container .dossier-label {
    font-weight: bold;
    margin-right: 10px; }

/*# sourceMappingURL=dossier_container.css.map */
