.last-card {
  color: #999999; }
  .last-card .event-card-wrapper {
    display: flex;
    background: linear-gradient(to right, transparent, #233342);
    justify-content: center;
    align-content: center;
    align-items: center; }

.last-card:hover {
  cursor: pointer; }

/*# sourceMappingURL=last_card.css.map */
