@import "./../../../scss/constants/colours";

.last-card {
  color: $grey;

  .event-card-wrapper {
    display: flex;
    background: linear-gradient(to right, transparent, $blue);
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.last-card:hover {
  cursor: pointer;
}
