.card-with-top-image {
  margin-bottom: 30px; }
  .card-with-top-image h2, .card-with-top-image h3 {
    text-align: left; }
  .card-with-top-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition-duration: 1s;
    margin-bottom: 10px; }

.card-with-top-image:hover img {
  width: 105%;
  transition-duration: 1s; }

.articles-section {
  margin-bottom: 80px; }
  .articles-section h1, .articles-section section > h2 {
    text-align: center; }
  .articles-section section {
    margin-bottom: 80px; }

/*# sourceMappingURL=articles_section.css.map */
