@import "../../../cards/articles_cards/article_cards_with_image/card_with_top_image/card_with_top_image";
@import "./../../../scss/constants/margins_paddings";
@import "./../../../scss/constants/colours";

.articles-section {
  margin-bottom: $top-bottom;

  h1, section > h2 {
    text-align: center;
  }

  section {
    margin-bottom: $top-bottom;
  }
}
