.event-page {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column; }
  .event-page img {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    align-self: center; }

@media screen and (max-width: 1024px) {
  .event-page img {
    width: 100vw;
    max-width: 100vw; } }

/*# sourceMappingURL=event_page.css.map */
