@import "./../../scss/constants/margins_paddings";

.event-page {
  margin-top: $top-bottom;
  margin-bottom: $top-bottom;

  display: flex;
  flex-direction: column;

  img {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    align-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .event-page {
    img {
      width: 100vw;
      max-width: 100vw;
    }
  }
}
