@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.compact-comment-card {
  width: 250px; }
  .compact-comment-card .caption-text {
    font: 14px "Open Sans", sans-serif; }

@media screen and (max-width: 1024px) {
  width: 200px; }
@media screen and (max-width: 768px) {
  width: 150px; }

/*# sourceMappingURL=compact_comment_card.css.map */
