@import "./../../../scss/constants/fonts";

.compact-comment-card {
  width: 250px;

  .caption-text {
    font: $caption-text;
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
  width: 200px;
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {
  width: 150px;
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}
