.map {
  $height: 600px;

  height: $height;
  width: $height * 4 / 3;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 900px) {
  .map {
    $height: 450px;

    height: $height;
    width: $height * 4 / 3;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {
  .map {
    $height: 400px;

    height: $height;
    width: $height * 4 / 3;
  }
}

@media screen and (max-width: 480px) {
  .map {
    $height: 220px;

    height: $height;
    width: $height * 4 / 3;
  }
}
