.map {
  height: 600px;
  width: 800px; }

@media screen and (max-width: 900px) {
  .map {
    height: 450px;
    width: 600px; } }
@media screen and (max-width: 600px) {
  .map {
    height: 400px;
    width: 533.3333333333px; } }
@media screen and (max-width: 480px) {
  .map {
    height: 220px;
    width: 293.3333333333px; } }

/*# sourceMappingURL=map.css.map */
