@import "../../scss/constants/margins_paddings";

.circle-image-cards-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
