.circle-image-cards-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .circle-image-cards-gallery {
      flex-direction: column;
      align-items: center; } }

/*# sourceMappingURL=gallery.css.map */
