.footer-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white; }
  .footer-content-container .menu-footer {
    width: 40%;
    justify-content: space-evenly; }

.about-us-info-content-container {
  width: 40%; }

@media screen and (max-width: 1024px) {
  .footer-content-container {
    flex-direction: column;
    align-items: center;
    height: auto; }
    .footer-content-container .menu-footer {
      width: 100%; }
    .footer-content-container .logo {
      margin-top: 30px;
      margin-bottom: 50px; }
    .footer-content-container .contacts-container {
      margin-bottom: 30px; }

  .about-us-info-content-container {
    width: 80%; } }
@media screen and (max-width: 600px) {
  .about-us-info-content-container {
    width: 100%; }

  .logo {
    margin-top: 0; } }

/*# sourceMappingURL=footer.css.map */
