.filter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  fieldset {
    border: none;
  }

  .buttons-container {
    display: flex;
   // flex-direction: column;
    gap: 30px;
    align-items: baseline;
  }

}
