.filter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .filter-form fieldset {
    border: none; }
  .filter-form .buttons-container {
    display: flex;
    gap: 30px;
    align-items: baseline; }

/*# sourceMappingURL=filter_form.css.map */
