.sign-up-form {
  max-width: 1000px;
  display: flex;
  flex-direction: column; }
  .sign-up-form .validation-error {
    text-align: center; }
  .sign-up-form .main-part, .sign-up-form .agreement-confirmation {
    margin-bottom: 50px; }
  .sign-up-form .agreement-confirmation, .sign-up-form button {
    align-self: center; }
  .sign-up-form .form-input-field-container {
    margin-right: 0; }
  .sign-up-form .flex-row {
    display: flex;
    justify-content: space-between; }
    .sign-up-form .flex-row .form-input-field-container:not(:last-child) {
      margin-right: 30px; }

@media screen and (max-width: 600px) {
  .sign-up-form .flex-row {
    flex-direction: column; } }

/*# sourceMappingURL=sign_up_form.css.map */
