.sign-up-form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;

  .validation-error {
    text-align: center;
  }

  .main-part, .agreement-confirmation {
    margin-bottom: 50px;
  }

  .agreement-confirmation, button {
    align-self: center;
  }

  .form-input-field-container {
    margin-right: 0;
  }

  .flex-row {
    display: flex;
    justify-content: space-between;

    .form-input-field-container:not(:last-child) {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .sign-up-form {
    .flex-row {
      flex-direction: column;
    }
  }
}

