$img-size: 350px;

.square-img-gallery {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .square-img {
    width: $img-size;
    height: $img-size;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  $img-size: 280px;

  .square-img-gallery {
    .square-img {
      width: $img-size;
      height: $img-size;
    }
  }
}

@media screen and (max-width: 900px) {
  .square-img-gallery {
    flex-direction: column;
    align-items: center;

    .square-img {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}
