.square-img-gallery {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .square-img-gallery .square-img {
    width: 350px;
    height: 350px;
    object-fit: cover; }

@media screen and (max-width: 1024px) {
  .square-img-gallery .square-img {
    width: 280px;
    height: 280px; } }
@media screen and (max-width: 900px) {
  .square-img-gallery {
    flex-direction: column;
    align-items: center; }
    .square-img-gallery .square-img {
      margin-bottom: 30px; } }

/*# sourceMappingURL=square_images_static_gallery.css.map */
