.arrowIcon {
  font-size: 30px; }

.circleIcon {
  font-size: 12px; }

.fieldset-legend-container {
  display: flex;
  align-items: baseline; }
  .fieldset-legend-container legend {
    margin-right: 30px; }
  .fieldset-legend-container button {
    font-size: 30px; }

/*# sourceMappingURL=fieldset_container.css.map */
