.compact-comment-cards-container {
  display: flex;
  justify-content: space-between; }

@media screen and (max-width: 1024px) {
  .compact-comment-cards-container {
    flex-wrap: wrap; } }
@media screen and (max-width: 900px) {
  .compact-comment-cards-container {
    justify-content: space-evenly; }
    .compact-comment-cards-container .compact-comment-card {
      margin-bottom: 50px; } }
@media screen and (max-width: 768px) {
  .compact-comment-cards-container {
    margin-top: 50px; } }
@media screen and (max-width: 480px) {
  .compact-comment-cards-container {
    flex-direction: column;
    align-items: center; }
    .compact-comment-cards-container .compact-comment-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }

/*# sourceMappingURL=compact_comment_cards_container.css.map */
