@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap');

$heading-1: 72px 'Cinzel', serif;
$heading-2: bold 44px 'Open Sans', sans-serif;
$heading-3: bold 35px 'Open Sans', sans-serif;
$plain-text: 16px 'Open Sans', sans-serif;
$caption-text: 14px 'Open Sans', sans-serif;
$logo-text: 10px 'Open Sans', sans-serif;
