@import "./../../scss/constants/margins_paddings";

.policy-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $top-bottom;

  h2 {
    text-align: center;
  }
}
