.news-text-cards-home-page {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.news-with-images-home-page {
  display: flex;
  justify-content: space-between;

  .news-with-images-home-page-cards-with-top-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

  .card-with-background-image {
    width: 55%;
  }
}

@media screen and (max-width: 900px) {
  .news-text-cards-home-page {
    flex-direction: column;

    .article-text-container {
      margin-bottom: 50px;
    }
  }

  .news-with-images-home-page {
    height: auto;
    flex-direction: column;

    .news-with-images-home-page-cards-with-top-images {
      flex-direction: column;
      width: 100%;
    }

    .card-with-background-image {
      width: 100%;
      height: 560px;
      margin-bottom: 30px;
    }

    .card-with-top-image {
      max-width: 360px;
    }
  }
}

@media screen and (max-width: 768px) {
  .news-with-images-home-page {
    flex-direction: column;

    .news-with-images-home-page-cards-with-top-images {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  .news-text-cards-home-page {
    flex-direction: column;
    padding: 0;

    .article-text-container {
      margin-bottom: 30px;
    }
  }
}

