@import "../../header_footer/header/header";
@import "../../scss/constants/margins_paddings";

.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: $top-bottom;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.gallery-home-page {
  @media screen and (min-width: 1201px) {
    height: calc(100vh - #{$default-header-height});
  }
}

.gallery-circles {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.gallery-buttons-text-container {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.gallery-central-buttons-text-container {
  height: 80%; // height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }
}

.gallery-img {
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);

  @media screen and (max-width: 768px) {
    height: 100%;
    width: auto;
  }
}
