.background-header-container {
  height: 180px; }

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center; }

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto; }
  .header-buttons-container button {
    color: white; }

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px; }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

  .header-buttons-container {
    align-content: center; } }
@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px; } }
@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px; } }
.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 80px; }
  .gallery h1 {
    text-align: center; }
  .gallery p {
    text-align: center; }

@media screen and (min-width: 1201px) {
  .gallery-home-page {
    height: calc(100vh - 180px); } }

.gallery-circles {
  display: flex;
  justify-content: space-between;
  width: 120px; }

.gallery-buttons-text-container {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; }

.gallery-central-buttons-text-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .gallery-central-buttons-text-container {
      width: 80%; } }

.gallery-img {
  width: 100%;
  object-fit: cover;
  filter: brightness(50%); }
  @media screen and (max-width: 768px) {
    .gallery-img {
      height: 100%;
      width: auto; } }

/*# sourceMappingURL=gallery.css.map */
