@import "../../../scss/constants/fonts";
@import "../../../scss/constants/colours";
@import "../../../scss/constants/margins_paddings";

.book-page {
  h1 {
    text-align: left;
  }

  h2, h3 {
    text-align: center;
  }

  section {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .editorial-reviews {
    padding-top: $top-bottom;
    padding-bottom: $top-bottom;
    margin-bottom: 0;
    color: white;
    background-color: $blue;
  }

  .image-wrapper {
    max-height: 600px;
  }

  .description {
    margin-bottom: 80px;
  }

  .quote-mark {
    position: relative;
    z-index: 2;
    font: $heading-1;
    top: -10px;
    left: 0;
    margin: 0 10px 0 0;
  }

  .quote-wrapper {
    text-align: center;
  }

  .compact-comment-cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 480px) {
  .book-page .image-wrapper {
    max-height: unset;
  }
}
