@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.book-page h1 {
  text-align: left; }
.book-page h2, .book-page h3 {
  text-align: center; }
.book-page section {
  margin-top: 80px;
  margin-bottom: 80px; }
.book-page .editorial-reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 0;
  color: white;
  background-color: #233342; }
.book-page .image-wrapper {
  max-height: 600px; }
.book-page .description {
  margin-bottom: 80px; }
.book-page .quote-mark {
  position: relative;
  z-index: 2;
  font: 72px "Cinzel", serif;
  top: -10px;
  left: 0;
  margin: 0 10px 0 0; }
.book-page .quote-wrapper {
  text-align: center; }
.book-page .compact-comment-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

@media screen and (max-width: 480px) {
  .book-page .image-wrapper {
    max-height: unset; } }

/*# sourceMappingURL=book_portfolio.css.map */
