@import "./../../../../scss/constants/colours";

.card-with-background-image {
  position: relative;
  overflow: hidden;

  h2, h3 {
    text-align: left;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition-duration: 1s;
    filter: brightness(50%);
  }

  .text-container {
    $space-around: 50px;

    z-index: 1;
    position: absolute;
    left: $space-around;
    bottom: $space-around;
    right: $space-around;
    color: white;
  }
}

.card-with-background-image:hover {
  img {
    height: 102%;
    width: 102%;
    transition-duration: 1s;
  }
}

.img-gradient {
  height: 100%;
  position:relative;
}

.img-gradient:after {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display:inline-block;
  background: linear-gradient(transparent 60%, black);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

@media screen and (max-width: 768px) {
  .card-with-background-image {
    .text-container {
      $space-around: 20px;

      left: $space-around;
      bottom: $space-around;
      right: $space-around;
    }
  }
}


