.card-with-background-image {
  position: relative;
  overflow: hidden; }
  .card-with-background-image h2, .card-with-background-image h3 {
    text-align: left; }
  .card-with-background-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition-duration: 1s;
    filter: brightness(50%); }
  .card-with-background-image .text-container {
    z-index: 1;
    position: absolute;
    left: 50px;
    bottom: 50px;
    right: 50px;
    color: white; }

.card-with-background-image:hover img {
  height: 102%;
  width: 102%;
  transition-duration: 1s; }

.img-gradient {
  height: 100%;
  position: relative; }

.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(transparent 60%, black);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }

@media screen and (max-width: 768px) {
  .card-with-background-image .text-container {
    left: 20px;
    bottom: 20px;
    right: 20px; } }

/*# sourceMappingURL=card.css.map */
