button {
  height: 43px;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  text-transform: uppercase; }

.button-filled {
  background-color: #b35340;
  color: white; }

.button-filled:hover {
  background-color: #6f3637; }

.button-unfilled {
  background: none;
  border: 1px solid #b35340; }

.button-unfilled:hover {
  border-color: #6f3637; }

.button-dark-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
  color: #666666; }

.button-dark-link:hover {
  color: #474747; }

.button-light-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
  color: #CCCCCC; }

.button-light-link:hover {
  color: #999999; }

.button-current-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  color: #999999; }

/*# sourceMappingURL=button.css.map */
