@import "../../scss/constants/colours";

$button-height: 43px;
$border-radius: 30px;

button {
  $side-padding: 30px;

  height: $button-height;
  width: max-content;
  border: none;
  border-radius: $border-radius;
  padding-left: $side-padding;
  padding-right: $side-padding;
  cursor: pointer;
  text-transform: uppercase;
}

.button-filled {
  background-color: $brown;
  color: white;
}

.button-filled:hover {
  background-color: $dark-brown;
}

.button-unfilled {
  background: none;
  border: 1px solid $brown;
}

.button-unfilled:hover {
  border-color: $dark-brown;
}

.button-dark-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
  color: $dark-grey;
}

.button-dark-link:hover {
  color: $very-dark-grey;
}

.button-light-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;
  color: white;
}

.button-light-link:hover {
  color: $light-grey;
}

.button-current-link {
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: none;
  color: $grey;
}
