$img-size: 200px;

.full-screen-author-shortened-card {
  display: flex;

  .img-container {
    width: $img-size;
    min-width: $img-size;
    height: $img-size;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.5s;
  }

  img:hover {
    width: 110%;
  }
}

@media screen and (max-width: 480px) {
  .full-screen-author-shortened-card {
    flex-direction: column;
    align-items: center;

    .img-container {
      margin-right: 0;
    }
  }
}
