.full-screen-author-shortened-card {
  display: flex; }
  .full-screen-author-shortened-card .img-container {
    width: 200px;
    min-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 50%; }
  .full-screen-author-shortened-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.5s; }
  .full-screen-author-shortened-card img:hover {
    width: 110%; }

@media screen and (max-width: 480px) {
  .full-screen-author-shortened-card {
    flex-direction: column;
    align-items: center; }
    .full-screen-author-shortened-card .img-container {
      margin-right: 0; } }

/*# sourceMappingURL=full_screen_author_shortened_card.css.map */
