$card-width: 250px;

.circle-image-card {
  width: $card-width;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  img {
    width: 100%;
    height: $card-width;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.circle-image-card-container-for-img-and-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle-image-card-text {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 900px) and (min-width: 600px){
  $card-width: 150px;

  .circle-image-card {
    width: $card-width;

    img {
      height: $card-width;
    }
  }
}

@media screen and (max-width: 600px) {
  .circle-image-card {
    height: auto;
    margin-bottom: 30px;
  }
}

