.circle-image-card {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .circle-image-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px; }

.circle-image-card-container-for-img-and-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.circle-image-card-text {
  text-align: center;
  margin: 0; }

@media screen and (max-width: 900px) and (min-width: 600px) {
  .circle-image-card {
    width: 150px; }
    .circle-image-card img {
      height: 150px; } }
@media screen and (max-width: 600px) {
  .circle-image-card {
    height: auto;
    margin-bottom: 30px; } }

/*# sourceMappingURL=card.css.map */
