.popup-content {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-width: 80%;
    max-width: 100%;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  margin: 30px;

  .icon-button {
    align-self: flex-end;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .popup-content {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .popup-content {
    form {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 480px) {

}
