.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white; }
  .image-wrapper .image {
    width: 100%;
    filter: brightness(50%);
    align-self: flex-start; }
  .image-wrapper .text-on-image-wrapper {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center; }
  .image-wrapper .image-text-content-wrapper {
    position: absolute;
    display: flex;
    align-items: center; }

@media screen and (max-width: 480px) {
  .image-wrapper .image {
    max-height: 1200px;
    width: auto; } }

/*# sourceMappingURL=text_container_with_background_image.css.map */
