.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;

  .image {
    width: 100%;
    filter: brightness(50%);
    align-self: flex-start;
  }

  .text-on-image-wrapper {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image-text-content-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  $height: 1200px;

  .image-wrapper {
    .image {
      max-height: $height;
      width: auto;
    }
  }
}
