@import "../../../scss/constants/margins_paddings";
@import "../../../scss/tags";
@import "../../../header_footer/header/header";

.account-page {
  margin-bottom: $top-bottom;

  .personal-info-with-borrowed-books {
    display: flex;
  }

  .currently-borrowed-heading {
    margin-top: 0;
  }

  ul {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .personal-info-with-borrowed-books {
    flex-direction: column;

    ul {
      align-items: center;
      margin-bottom: 80px;
    }
  }
}
