$img-size: 120px;

.full-comment-card {
  display: flex;
  width: 100%;

  h3 {
    text-align: left;
    margin-bottom: 10px;
  }

  .full-comment-card-img-wrapper { //@TODO: make a component?
    width: $img-size;
    height: $img-size;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
  }

  img {
    width: 100%;
    transition-duration: 0.5s;
  }

  img:hover {
    width: 105%;
  }
}

@media screen and (max-width: 480px) {
  .full-comment-card {
    flex-direction: column;
  }
}
