.full-comment-card {
  display: flex;
  width: 100%; }
  .full-comment-card h3 {
    text-align: left;
    margin-bottom: 10px; }
  .full-comment-card .full-comment-card-img-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px; }
  .full-comment-card img {
    width: 100%;
    transition-duration: 0.5s; }
  .full-comment-card img:hover {
    width: 105%; }

@media screen and (max-width: 480px) {
  .full-comment-card {
    flex-direction: column; } }

/*# sourceMappingURL=full_comment_card.css.map */
