.gallery-with-pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .gallery-with-pagination .gallery-with-pagination-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
  .gallery-with-pagination .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; }
  .gallery-with-pagination .hidden {
    display: none; }
  .gallery-with-pagination .visible {
    display: block; }

/*# sourceMappingURL=gallery_with_pagination.css.map */
