.gallery-with-pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .gallery-with-pagination-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

}

