.menu-footer {
  display: flex; }
  @media screen and (max-width: 600px) {
    .menu-footer {
      flex-direction: column;
      align-items: center; } }

/*# sourceMappingURL=menu_footer.css.map */
