@import "./../../scss/icons";

.social-media-icons-container {
  a {
    font-size: $default-icon-size;
    color: white;
    text-decoration: none;
  }
  display: flex;
  justify-content: space-between;
}
