.arrowIcon {
  font-size: 30px; }

.circleIcon {
  font-size: 12px; }

.social-media-icons-container {
  display: flex;
  justify-content: space-between; }
  .social-media-icons-container a {
    font-size: 30px;
    color: white;
    text-decoration: none; }

/*# sourceMappingURL=social_media_icons.css.map */
