@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.background-header-container {
  height: 180px; }

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center; }

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto; }
  .header-buttons-container button {
    color: white; }

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px; }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

  .header-buttons-container {
    align-content: center; } }
@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px; } }
@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px; } }
* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h1 {
  font: 72px "Cinzel", serif;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font: bold 44px "Open Sans", sans-serif;
  text-transform: uppercase; }

h3 {
  font: bold 35px "Open Sans", sans-serif; }

p, span, label, details, li, div {
  font: 16px "Open Sans", sans-serif; }
  @media screen and (max-width: 1200px) {
    p, span, label, details, li, div {
      font-size: 18px; } }

p {
  white-space: pre-line; }

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }

ul li {
  text-transform: uppercase;
  list-style: none; }

input:checked + label {
  color: black; }

details summary {
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 64px; }

  h2 {
    font-size: 48px; }

  h3 {
    font-size: 32px; } }
@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 32px; }

  h3 {
    font-size: 26px; } }
.background-header-container {
  height: 180px; }

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center; }

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto; }
  .header-buttons-container button {
    color: white; }

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px; }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

  .header-buttons-container {
    align-content: center; } }
@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px; } }
@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px; } }
.about-us-page {
  margin-bottom: 80px; }
  .about-us-page .first-heading {
    margin-top: 0; }
  .about-us-page section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about-us-page .faq-section {
    align-items: flex-start; }
    .about-us-page .faq-section h1 {
      align-self: center; }
  .about-us-page p, .about-us-page section {
    margin-bottom: 50px; }
  .about-us-page details, .about-us-page button {
    margin-bottom: 30px; }
  .about-us-page img {
    max-width: 100vw; }
  .about-us-page .circle-img {
    margin-bottom: 80px;
    width: 600px;
    height: 600px;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden; }
  .about-us-page .full-screen-img {
    width: 100%;
    max-height: 800px;
    object-fit: cover; }
  .about-us-page .contacts-section {
    align-items: center; }
    .about-us-page .contacts-section p {
      margin-bottom: unset; }
    .about-us-page .contacts-section .contacts-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px; }

@media screen and (max-width: 600px) {
  .about-us-page .circle-img {
    width: 300px;
    height: 300px; } }

/*# sourceMappingURL=about_us_page.css.map */
