@import "./../../scss/constants/margins_paddings";
@import "./../../scss/tags";
@import "./../../header_footer/header/header";

$img-size: 600px;

.about-us-page {
  margin-bottom: $top-bottom;

  .first-heading {
    margin-top: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-section {
    align-items: flex-start;

    h1 {
      align-self: center;
    }
  }

  p, section {
    margin-bottom: 50px;
  }

  details, button {
    margin-bottom: 30px;
  }

  img {
    max-width: 100vw;
  }

  .circle-img {
    margin-bottom: $top-bottom;
    width: $img-size;
    height: $img-size;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
  }

  .full-screen-img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
  }

  .contacts-section {
    align-items: center;

    p {
      margin-bottom: unset;
    }

    .contacts-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  $img-size: 300px;

  .about-us-page {
    .circle-img {
      width: $img-size;
      height: $img-size;
    }
  }
}
