.personal-info-panel {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin-bottom: 50px;
  margin-right: 100px; }
  .personal-info-panel h1 {
    text-align: left;
    overflow-wrap: break-word; }
  .personal-info-panel .img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; }
  .personal-info-panel img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition-duration: 0.5s; }
  .personal-info-panel img:hover {
    width: 210px;
    height: 210px; }

@media screen and (max-width: 1024px) {
  .personal-info-panel {
    margin-right: 0;
    width: 100%;
    align-items: center;
    text-align: center; }
    .personal-info-panel h1 {
      text-align: center; }
    .personal-info-panel .dossier-container {
      display: flex;
      justify-content: center; } }

/*# sourceMappingURL=personal_info_panel.css.map */
