.personal-info-panel {
  $img-size: 200px;

  display: flex;
  flex-direction: column;
  width: min-content;
  margin-bottom: 50px;
  margin-right: 100px;

  h1 {
    text-align: left;
    overflow-wrap: break-word;
  }

  .img-container {
    width: $img-size;
    height: $img-size;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    width: $img-size;
    height: $img-size;
    object-fit: cover;
    transition-duration: 0.5s;
  }

  img:hover {
    $coefficient: 1.05;

    width: $img-size * $coefficient;
    height: $img-size * $coefficient;
  }
}

@media screen and (max-width: 1024px) {
  .personal-info-panel {
    margin-right: 0;
    width: 100%;
    align-items: center;
    text-align: center;

    h1 {
      text-align: center;
    }

    .dossier-container {
      display: flex;
      justify-content: center;
    }
  }
}

