@import url(../../../scss/constants/fonts.css);
.sort-options-form {
  display: flex;
  align-items: baseline; }
  .sort-options-form form {
    display: flex;
    align-items: center; }
  .sort-options-form span, .sort-options-form label {
    margin-right: 20px; }
  .sort-options-form .radio-buttons-container {
    margin-right: 50px; }
  .sort-options-form .submit-reset-buttons-container {
    display: flex;
    gap: 30px; }

@media screen and (max-width: 768px) {
  .sort-options-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sort-options-form .radio-buttons-container {
      width: 100%;
      margin-right: 0; } }
@media screen and (max-width: 600px) {
  .sort-options-form {
    flex-direction: column;
    align-items: center; }
    .sort-options-form div, .sort-options-form span {
      margin-bottom: 10px; }
    .sort-options-form .sort-order-buttons-container {
      margin-right: 0; }
    .sort-options-form .options-container {
      display: flex;
      flex-direction: column;
      align-items: center; } }

/*# sourceMappingURL=sort_options_form.css.map */
