@import "../../../scss/constants/colours";
@import "../../../scss/constants/fonts.css";

.sort-options-form {
  display: flex;
  align-items: baseline;

  form {
    display: flex;
    align-items: center;
  }

  span, label {
    margin-right: 20px;
  }

  .radio-buttons-container {
    margin-right: 50px;
  }

  .submit-reset-buttons-container {
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .sort-options-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .radio-buttons-container {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .sort-options-form {
    flex-direction: column;
    align-items: center;

    div, span {
      margin-bottom: 10px;
    }

    .sort-order-buttons-container {
      margin-right: 0;
    }

    .options-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
