@import "../../../scss/constants/fonts";
@import "../../../scss/constants/colours";

.menu-option {
  text-transform: uppercase;
  font: $plain-text;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-option-selected {
  color: $light-grey;
}

.menu-option:hover {
  color: $light-grey;
}

.additional-menu-option {
  font-size: smaller;
}

.footer-menu-main-option {
  display: flex;
  flex-direction: column;
}
