@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.menu-option {
  text-transform: uppercase;
  font: 16px "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer; }

.menu-option-selected {
  color: #CCCCCC; }

.menu-option:hover {
  color: #CCCCCC; }

.additional-menu-option {
  font-size: smaller; }

.footer-menu-main-option {
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=menu_option.css.map */
