@import "../../../../scss/constants/colours";
@import "../../../../scss/constants/margins_paddings.css";

.full-screen-article-card {
  display: flex;
  background-color: $light-brown;
  color: white;
}

.full-screen-article-card-img-container {
  width: 50%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.full-screen-article-card-text-container {
  width: 50%;
  padding: 100px;

  h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .full-screen-article-card-text-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .full-screen-article-card {
    flex-direction: column;
  }

  .full-screen-article-card-img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .full-screen-article-card-text-container {
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}
