@import url(../../../../scss/constants/margins_paddings.css);
.full-screen-article-card {
  display: flex;
  background-color: #ce8054;
  color: white; }

.full-screen-article-card-img-container {
  width: 50%;
  overflow: hidden; }
  .full-screen-article-card-img-container img {
    height: 100%;
    object-fit: cover; }

.full-screen-article-card-text-container {
  width: 50%;
  padding: 100px; }
  .full-screen-article-card-text-container h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px; }
  .full-screen-article-card-text-container p {
    margin-bottom: 40px; }

@media screen and (max-width: 1200px) {
  .full-screen-article-card-text-container {
    width: 60%; } }
@media screen and (max-width: 768px) {
  .full-screen-article-card {
    flex-direction: column; }

  .full-screen-article-card-img-container {
    width: 100%;
    height: 300px;
    overflow: hidden; }
    .full-screen-article-card-img-container img {
      width: 100%;
      object-fit: cover; }

  .full-screen-article-card-text-container {
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .full-screen-article-card-text-container h1 {
      text-align: center; }
    .full-screen-article-card-text-container p {
      text-align: center; } }

/*# sourceMappingURL=card.css.map */
