@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.log-in-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .log-in-popup-content .form-input-field {
    margin-bottom: 10px; }
  .log-in-popup-content .additional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .log-in-popup-content .separator {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center; }
  .log-in-popup-content .separator::before,
  .log-in-popup-content .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000; }
  .log-in-popup-content .separator:not(:empty)::before {
    margin-right: 10px; }
  .log-in-popup-content .separator:not(:empty)::after {
    margin-left: 10px; }

@media screen and (max-width: 600px) {
  .log-in-popup-content .additional {
    display: none; } }

/*# sourceMappingURL=log_in_popup.css.map */
