@import "./../../scss/constants/fonts";

.log-in-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-input-field {
    margin-bottom: 10px;
  }

  .additional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }

  .separator:not(:empty)::before {
    margin-right: 10px;
  }

  .separator:not(:empty)::after {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
  .log-in-popup-content {
    .additional {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {

}
