@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.author-small-card {
  width: 120px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .author-small-card a {
    font: 16px "Open Sans", sans-serif;
    color: black;
    text-decoration: none; }

.author-small-card-img-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden; }
  .author-small-card-img-wrapper img {
    width: 100%;
    transition-duration: 0.5s; }

.author-small-card:hover {
  cursor: pointer; }
  .author-small-card:hover img {
    width: 105%; }

/*# sourceMappingURL=author_small_card.css.map */
