@import "./../../../scss/constants/fonts";

$img-size: 120px;

.author-small-card {
  width: $img-size;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  a {
    font: $plain-text;
    color: black;
    text-decoration: none;
  }
}

.author-small-card-img-wrapper {
  width: $img-size;
  height: $img-size;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden;

  img {
    width: 100%;
    transition-duration: 0.5s;
  }
}

.author-small-card:hover {
  cursor: pointer;

  img {
    width: 105%;
  }
}
