.catalogue-main-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px; }
  .catalogue-main-page-header p {
    width: 80%;
    text-align: center; }
  .catalogue-main-page-header .first-heading {
    margin-top: 0; }

.catalogue-main-page h1 {
  text-align: center; }
.catalogue-main-page section {
  margin-bottom: 80px; }

/*# sourceMappingURL=catalogue_main_page.css.map */
