@import "./../../../scss/constants/margins_paddings";

.catalogue-main-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $top-bottom;

  p {
    width: 80%;
    text-align: center;
  }

  .first-heading {
    margin-top: 0;
  }
}

.catalogue-main-page {
  h1 {
    text-align: center;
  }

  section {
    margin-bottom: $top-bottom;
  };
}

