@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.event-text-container {
  margin-bottom: 50px; }
  .event-text-container h3 {
    margin: 0; }
  .event-text-container p {
    margin: 5px 0; }
  .event-text-container .event-text-container-date {
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 10px; }

/*# sourceMappingURL=event_text_container.css.map */
