@import "../../../scss/constants/fonts";

.event-text-container {
  margin-bottom: 50px;

  h3 {
    margin: 0;
  }

  p {
    margin: 5px 0;
  }

  .event-text-container-date {
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 10px;
  }
}
