.background-header-container {
  height: 180px; }

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center; }

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto; }
  .header-buttons-container button {
    color: white; }

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px; }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

  .header-buttons-container {
    align-content: center; } }
@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px; } }
@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px; } }
.article-page .content-wrapper {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center; }
.article-page p {
  margin-top: 80px;
  margin-bottom: 80px; }
.article-page .caption-text {
  margin: 20px 0 0;
  text-align: center; }
.article-page .image-wrapper {
  height: calc(100vh - 180px);
  text-align: center; }
.article-page .main-image {
  max-width: 100vw; }

@media screen and (max-width: 1200px) {
  .article-page .image-wrapper {
    height: auto; } }
@media screen and (max-width: 900px) {
  .article-page .image-wrapper {
    min-height: 1200px; }
    .article-page .image-wrapper .image {
      min-height: 1000px;
      width: auto; } }

/*# sourceMappingURL=article_page.css.map */
