@import "./../../header_footer/header/header";
@import "./../../scss/constants/margins_paddings";

.article-page {
  .content-wrapper {
    margin-bottom: $top-bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin-top: $top-bottom;
    margin-bottom: $top-bottom;
  }

  .caption-text {
    margin: 20px 0 0;
    text-align: center;
  }

  .image-wrapper {
    height: calc(100vh - #{$default-header-height});
    text-align: center;
  }

  .main-image {
    max-width: 100vw;
  }
}

@media screen and (max-width: 1200px) {
  .article-page {
    .image-wrapper {
      height: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .article-page {
    .image-wrapper {
      min-height: 1200px;

      .image {
        min-height: 1000px;
        width: auto;
      }
    }
  }
}

