.menu-header {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media screen and (max-width: 768px) {
  .menu-header {
    width: 90%; } }
@media screen and (max-width: 480px) {
  .menu-header {
    flex-direction: column; } }

/*# sourceMappingURL=menu_header.css.map */
