@import "./../../../scss/constants/colours";
@import "./../../../cards/sizes";
@import "./../../../scss/icons";

.books-gallery-short {
  display: flex;
  justify-content: space-evenly;
}

.last-book {
  position: relative;

  .last-book-wrapper {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, transparent, white);
    justify-content: center;
    padding-top: ($img-height - $default-icon-size) / 2;
    transition-duration: 1s;
  }
}

.last-book:hover {
  cursor: pointer;
}
