@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.logo {
  height: 95px;
  width: auto; }
  .logo a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-decoration: none;
    cursor: default; }
  .logo img {
    width: 50px;
    height: 50px; }
  .logo p {
    margin: 0;
    padding: 0;
    font: 10px "Open Sans", sans-serif;
    text-align: center;
    color: white; }

.logo:hover img {
  filter: brightness(75%); }
.logo:hover p {
  color: #CCCCCC; }

/*# sourceMappingURL=logo.css.map */
