@import "../../scss/constants/fonts";
@import "../../scss/constants/colours";

.logo {
  $logo-size: 95px;

  height: $logo-size;
  width: auto;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-decoration: none;
    cursor: default;
  }

  img {
    width: 50px;
    height: 50px;
  }

  p {
    margin: 0;
    padding: 0;
    font: $logo-text;
    text-align: center;
    color: white;
  }
}

.logo:hover {
  img {
    filter: brightness(75%);
  }

  p {
    color: $light-grey;
  }
}
