.filled-container-with-button {
  background-color: #233342;
  min-height: 200px;
  margin-bottom: 80px; }

.filled-container-with-button-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  color: white; }
  .filled-container-with-button-content-container h1 {
    text-align: center;
    margin: 0; }
  .filled-container-with-button-content-container p {
    margin-bottom: 22.5px;
    text-align: center; }

/*# sourceMappingURL=container.css.map */
