@import "./../../scss/constants/colours";
@import "./../../scss/constants/margins_paddings";

.filled-container-with-button {
  background-color: $blue;
  min-height: 200px;
  margin-bottom: $top-bottom;
}

.filled-container-with-button-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $top-bottom;
  padding-top: $top-bottom;
  color: white;

  h1 {
    text-align: center;
    margin: 0;
  }

  p {
    margin-bottom: $between-paragraphs * 1.5;
    text-align: center;
  }
}
