.menu-section {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 1024px) {
  .menu-section {
    align-items: center; }
    .menu-section a {
      text-align: center; } }
@media screen and (max-width: 600px) {
  .menu-section {
    margin-bottom: 30px; } }

/*# sourceMappingURL=menu_options.css.map */
