@import "./../../../sizes";

$size: $compact-card-width;

.square-img-event-card {
  width: $size;
  position: relative;
}

.square-img-event-card-img-wrapper {
  width: $size;
  height: $size;
  overflow: hidden;
}

.square-img-event-card:hover {
  .square-img-event-card-img {
    width: $size * 1.05;
    height: $size * 1.05;
    transition-duration: 1s;
  }
}

.square-img-event-card-img {
  width: $size;
  height: $size;
  object-fit: cover;
  transition-duration: 1s;
}

//.event-card-img-wrapper {
//  position: relative;
//}

.event-card-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
