.square-img-event-card {
  width: 220px;
  position: relative; }

.square-img-event-card-img-wrapper {
  width: 220px;
  height: 220px;
  overflow: hidden; }

.square-img-event-card:hover .square-img-event-card-img {
  width: 231px;
  height: 231px;
  transition-duration: 1s; }

.square-img-event-card-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  transition-duration: 1s; }

.event-card-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0; }

/*# sourceMappingURL=event_card_with_square_image.css.map */
