@import "./../../../../scss/constants/colours";
@import "./../../../../scss/constants/margins_paddings";

$img-width: 400px;
$img-height: $img-width * 4 / 3;

.full-screen-book-card {
  padding-top: $top-bottom;

  h1 {
    margin-top: 0;
  }

  .full-screen-book-card-info-container {
    display: flex;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .details-container {
    margin-bottom: 30px;
  }

  .img-container {
    width: $img-width;
    min-width: $img-width;
    height: $img-height;
    min-height: $img-height;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 50px;
  }

  img {
    width: $img-width;
    height: $img-height;
    object-fit: cover;
    transition-duration: 1s;
  }

  img:hover{
    width: $img-width * 1.05;
  }

  .book-icons-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  $img-width: 300px;
  $img-height: $img-width * 4 / 3;

  .full-screen-book-card {
    padding-bottom: 30px;

    h1, h3 {
      text-align: center;
    }

    .img-container {
      margin-right: 0;
      width: $img-width;
      min-width: $img-width;
      height: $img-height;
      min-height: $img-height;
    }

    .full-screen-book-card-info-container {
      flex-direction: column;
      align-items: center;
    }

    .book-icons-container {
      align-self: center;
    }

    img {
      width: $img-width;
      height: $img-height;
    }

    img:hover{
      width: $img-width * 1.05;
    }

    .heading-with-details-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 480px) {
  $img-width: 280px;
  $img-height: $img-width * 4 / 3;

  .full-screen-book-card {
    .img-container {
      width: $img-width;
      min-width: $img-width;
      height: $img-height;
      min-height: $img-height;
      margin: 0 0 30px;
    }

    img {
      width: $img-width;
      height: $img-height;
    }

    img:hover{
      width: $img-width * 1.05;
    }
  }
}
