.full-screen-book-card {
  padding-top: 80px; }
  .full-screen-book-card h1 {
    margin-top: 0; }
  .full-screen-book-card .full-screen-book-card-info-container {
    display: flex; }
  .full-screen-book-card .content-wrapper {
    display: flex;
    flex-direction: column; }
  .full-screen-book-card .details-container {
    margin-bottom: 30px; }
  .full-screen-book-card .img-container {
    width: 400px;
    min-width: 400px;
    height: 533.3333333333px;
    min-height: 533.3333333333px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 50px; }
  .full-screen-book-card img {
    width: 400px;
    height: 533.3333333333px;
    object-fit: cover;
    transition-duration: 1s; }
  .full-screen-book-card img:hover {
    width: 420px; }
  .full-screen-book-card .book-icons-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 50px; }

@media screen and (max-width: 900px) {
  .full-screen-book-card {
    padding-bottom: 30px; }
    .full-screen-book-card h1, .full-screen-book-card h3 {
      text-align: center; }
    .full-screen-book-card .img-container {
      margin-right: 0;
      width: 300px;
      min-width: 300px;
      height: 400px;
      min-height: 400px; }
    .full-screen-book-card .full-screen-book-card-info-container {
      flex-direction: column;
      align-items: center; }
    .full-screen-book-card .book-icons-container {
      align-self: center; }
    .full-screen-book-card img {
      width: 300px;
      height: 400px; }
    .full-screen-book-card img:hover {
      width: 315px; }
    .full-screen-book-card .heading-with-details-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px; } }
@media screen and (max-width: 480px) {
  .full-screen-book-card .img-container {
    width: 280px;
    min-width: 280px;
    height: 373.3333333333px;
    min-height: 373.3333333333px;
    margin: 0 0 30px; }
  .full-screen-book-card img {
    width: 280px;
    height: 373.3333333333px; }
  .full-screen-book-card img:hover {
    width: 294px; } }

/*# sourceMappingURL=full_screen_book_info_container.css.map */
