$default-header-height: 180px;

.background-header-container {
  height: $default-header-height;
}

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto;

  button {
    color: white;
  }
}

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px;
  }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .header-buttons-container {
    align-content: center;
  }
}

@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px;
  }
  .header-content-container {
  }
}

@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px
  }
}
