.catalogue-browser h1, .catalogue-browser h2, .catalogue-browser h3 {
  text-align: center; }
.catalogue-browser .content-wrapper section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }
.catalogue-browser .sort-options-form {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 50px; }
.catalogue-browser .gallery-with-pagination, .catalogue-browser section {
  margin-bottom: 50px; }
.catalogue-browser section {
  display: flex;
  flex-direction: column; }
.catalogue-browser .recently-seen-gallery-container {
  margin-bottom: 80px; }

.catalogue-browser-content-container {
  display: flex;
  flex-direction: column; }

.catalogue-browser-main-container, .catalogue-browser-gallery-filters-container {
  display: flex; }

.catalogue-browser-gallery-container {
  width: 0;
  flex-grow: 1;
  max-width: 100%; }

@media screen and (max-width: 768px) {
  .catalogue-browser-main-container {
    flex-direction: column; }

  .catalogue-browser-gallery-container {
    width: 100%; } }

/*# sourceMappingURL=catalogue_browser.css.map */
