@import "./../../../scss/constants/margins_paddings";

.catalogue-browser {
  h1, h2, h3 {
    text-align: center;
  }

  .content-wrapper section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .sort-options-form {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 50px;
  }

  .gallery-with-pagination, section {
    margin-bottom: 50px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .recently-seen-gallery-container {
    margin-bottom: $top-bottom;
  }
}

.catalogue-browser-content-container {
  display: flex;
  flex-direction: column;
}

.catalogue-browser-main-container, .catalogue-browser-gallery-filters-container {
  display: flex;
}

.catalogue-browser-gallery-container {
  width: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {
  .catalogue-browser-main-container {
    flex-direction: column;
  }

  .catalogue-browser-gallery-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}

