.borrowed-book-card {
  display: flex;
  margin-bottom: 50px; }
  .borrowed-book-card .book-heading {
    font-weight: bold; }
  .borrowed-book-card .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .borrowed-book-card .book-short-details-container {
    margin-bottom: 10px; }

@media screen and (max-width: 480px) {
  .borrowed-book-card {
    flex-direction: column; } }

/*# sourceMappingURL=borrowed_book_card.css.map */
