

.borrowed-book-card {
  display: flex;
  margin-bottom: 50px;

  .book-heading {
    font-weight: bold;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .book-short-details-container {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .borrowed-book-card {
    flex-direction: column;
  }
}
