.user-review-card {
  display: flex;
  width: 100%; }
  .user-review-card .book-heading {
    margin-top: 0;
    font-weight: bold; }
  .user-review-card h3 {
    margin-bottom: 20px; }

@media screen and (max-width: 480px) {
  .user-review-card {
    flex-direction: column; }
    .user-review-card img {
      margin-bottom: 30px; } }

/*# sourceMappingURL=user_review_card.css.map */
