@import "./../../sizes";
@import "./../../../scss/constants/colours";

$img-height: $compact-card-width * 1.25;
$img-width: $compact-card-width;

.user-review-card {
  display: flex;
  width: 100%;

  .book-heading {
    margin-top: 0;
    font-weight: bold;
    // color: $dark-grey;
  }

  h3 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .user-review-card {
    flex-direction: column;

    img {
      margin-bottom: 30px;
    }
  }
}
