.discover-more-home-page-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  section {
    width: 30%;
  }

  .discover-more-main-heading {
    margin-bottom: 20px;
  }

  hr {
    margin: 0 0 50px;
    height: 4px;
    width: 72px;
    background: black;
  }
}

@media screen and (max-width: 900px) {
  .discover-more-home-page-container {
    flex-direction: column;

    section {
      width: 100%;
    }

    h3 {
      text-align: center;
    }

    .event-text-container-date {
      text-align: center;
    }

    hr {
      margin: auto auto 50px;
    }
  }
}
