.discover-more-home-page-container {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .discover-more-home-page-container section {
    width: 30%; }
  .discover-more-home-page-container .discover-more-main-heading {
    margin-bottom: 20px; }
  .discover-more-home-page-container hr {
    margin: 0 0 50px;
    height: 4px;
    width: 72px;
    background: black; }

@media screen and (max-width: 900px) {
  .discover-more-home-page-container {
    flex-direction: column; }
    .discover-more-home-page-container section {
      width: 100%; }
    .discover-more-home-page-container h3 {
      text-align: center; }
    .discover-more-home-page-container .event-text-container-date {
      text-align: center; }
    .discover-more-home-page-container hr {
      margin: auto auto 50px; } }

/*# sourceMappingURL=discover_more_section.css.map */
