@import "./../../scss/constants/margins_paddings";
@import "./../../scss/constants/margins_paddings";
@import "./../../scss/tags";
@import "./../../header_footer/header/header";


$img-width: 400px;
$img-height: $img-width * 4 / 3;
$resize-coefficient: 1.05;

.author-page {
  margin-bottom: $top-bottom;

  h1, h2, .quote {
    text-align: center;
  }

  h1 {
    margin-bottom: 30px;
  }

  .author-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote {
    width: 80%;
    margin-bottom: $top-bottom;
  }

  .bio {
    margin-top: 0;
  }

  .img-container {
    width: $img-width;
    height: $img-height;
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
      width: $img-width;
      height: $img-height;
      object-fit: cover;
      transition-duration: 0.5s;
    }

    img:hover {
      width: $img-width * $resize-coefficient;
      height: $img-height * $resize-coefficient;
    }
  }

  .img-with-alt-container {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;

    p {
      width: $img-width;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .author-page {
    $small-img-width: 300px;
    $small-img-height: $small-img-width * 4 / 3;

    .img-container {
      width: $small-img-width;
      height: $small-img-height;

      img {
        width: $small-img-width;
        height: $small-img-height;
      }

      img:hover {
        width: $small-img-width * $resize-coefficient;
        height: $small-img-height * $resize-coefficient;
      }
    }

    .img-with-alt-container {
      p {
        width: $small-img-width;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .author-page {
    .img-with-alt-container {
      float: none;
      margin-right: 0;
    }
  }
}

