@import "./../../sizes";
@import "./../../../scss/constants/fonts";
@import "./../../../scss/constants/colours";

$img-height:  $compact-card-width * 1.25;

.compact-book-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $compact-card-width;
  height: $compact-card-width * 1.75;

  img {
    width: 100%;
    height: $img-height;
    object-fit: cover;
    transition-duration: 0.5s;
  }

  .icon-button {
    color: white;
    opacity: 150%;
  }

  .icon-button:not(:last-child) {
    margin-bottom: 20px;
  }

  .compact-book-card-heading {
    text-decoration: none;
    font: $plain-text;
    color: black;
  }

  p, .compact-book-card-heading {
    text-align: center;
    margin: 5px;
  }

  p {
    cursor: default;
  }

  .book-icons-container {
    display: none;
  }

  .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.compact-book-card-author {
  font: $caption-text;
}

.compact-book-card-img-wrapper {
  position: relative;
  width: $compact-card-width;
  height: $img-height;
  overflow: hidden;
  margin-bottom: 20px;
}

.compact-book-card:hover {
  img {
    filter: brightness(50%);
    width: $compact-card-width * 1.05;
    transition-duration: 0.5s;
  }

  .book-icons-container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.book-not-available {
  color: $grey;

  .compact-book-card-heading {
    color: $grey;
  }
}
