@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.compact-book-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  height: 385px; }
  .compact-book-card img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    transition-duration: 0.5s; }
  .compact-book-card .icon-button {
    color: white;
    opacity: 150%; }
  .compact-book-card .icon-button:not(:last-child) {
    margin-bottom: 20px; }
  .compact-book-card .compact-book-card-heading {
    text-decoration: none;
    font: 16px "Open Sans", sans-serif;
    color: black; }
  .compact-book-card p, .compact-book-card .compact-book-card-heading {
    text-align: center;
    margin: 5px; }
  .compact-book-card p {
    cursor: default; }
  .compact-book-card .book-icons-container {
    display: none; }
  .compact-book-card .caption {
    display: flex;
    flex-direction: column;
    align-items: center; }

.compact-book-card-author {
  font: 14px "Open Sans", sans-serif; }

.compact-book-card-img-wrapper {
  position: relative;
  width: 220px;
  height: 275px;
  overflow: hidden;
  margin-bottom: 20px; }

.compact-book-card:hover img {
  filter: brightness(50%);
  width: 231px;
  transition-duration: 0.5s; }
.compact-book-card:hover .book-icons-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.book-not-available {
  color: #999999; }
  .book-not-available .compact-book-card-heading {
    color: #999999; }

/*# sourceMappingURL=book_card_compact.css.map */
