@import "./constants/fonts";

.two-columns {
  columns: 2;
  column-gap: 50px;

  @media screen and (max-width: 900px) {
    columns: 1;
  }
}

.caption-text {
  font: $caption-text;
}

.validation-error {
  font: $caption-text;
  color: red;
}

.nothing-found-message, .message {
  width: 100%;
  display: flex;
  justify-content: center;
  color: grey;
}

.message-light {
  color: white;
}
