@import "./constants/margins_paddings";
@import "./../header_footer/header/header";

$fixed-header-screen-width: 1200px;

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

main {
  margin-top: $default-header-height;
}

.larger-top-margin {
  margin-top: $default-header-height + $top-bottom;
}

@media screen and (max-width: $fixed-header-screen-width) {
  header {
    position: static;
  }

  main {
    margin-top: 0;
  }

  .larger-top-margin {
    margin-top: $top-bottom;
  }
}
