@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.two-columns {
  columns: 2;
  column-gap: 50px; }
  @media screen and (max-width: 900px) {
    .two-columns {
      columns: 1; } }

.caption-text {
  font: 14px "Open Sans", sans-serif; }

.validation-error {
  font: 14px "Open Sans", sans-serif;
  color: red; }

.nothing-found-message, .message {
  width: 100%;
  display: flex;
  justify-content: center;
  color: grey; }

.message-light {
  color: white; }

.background-header-container {
  height: 180px; }

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center; }

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto; }
  .header-buttons-container button {
    color: white; }

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px; }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

  .header-buttons-container {
    align-content: center; } }
@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px; } }
@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px; } }
* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h1 {
  font: 72px "Cinzel", serif;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font: bold 44px "Open Sans", sans-serif;
  text-transform: uppercase; }

h3 {
  font: bold 35px "Open Sans", sans-serif; }

p, span, label, details, li, div {
  font: 16px "Open Sans", sans-serif; }
  @media screen and (max-width: 1200px) {
    p, span, label, details, li, div {
      font-size: 18px; } }

p {
  white-space: pre-line; }

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }

ul li {
  text-transform: uppercase;
  list-style: none; }

input:checked + label {
  color: black; }

details summary {
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 64px; }

  h2 {
    font-size: 48px; }

  h3 {
    font-size: 32px; } }
@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px; }

  h2 {
    font-size: 32px; }

  h3 {
    font-size: 26px; } }
.background-header-container {
  height: 180px; }

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-self: center; }

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: auto; }
  .header-buttons-container button {
    color: white; }

@media screen and (max-width: 1200px) {
  .background-header-container {
    height: 280px; }

  .header-content-container {
    height: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

  .header-buttons-container {
    align-content: center; } }
@media screen and (max-width: 480px) {
  .background-header-container {
    height: 360px; } }
@media screen and (max-width: 300px) {
  .header-buttons-container {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px; } }
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }

main {
  margin-top: 180px; }

.larger-top-margin {
  margin-top: 260px; }

@media screen and (max-width: 1200px) {
  header {
    position: static; }

  main {
    margin-top: 0; }

  .larger-top-margin {
    margin-top: 80px; } }

/*# sourceMappingURL=index.css.map */
