//320px 480px: Mobile devices
//481px 768px: iPads, Tablets
//769px 1024px: Small screens, laptops
//1025px 1200px: Desktops, large screens
//1201px and more  Extra large screens, TV
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}
