@import "./constants/fonts";
@import "./constants/colours";
@import "./constants/margins_paddings";
@import "./../header_footer/header/header";

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font: $heading-1;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font: $heading-2;
  text-transform: uppercase;
}

h3 {
  font: $heading-3;
}

p, span, label, details, li, div {
  font: $plain-text;

  @media screen and (max-width: 1200px) {
    font-size: 18px;
  }
}

p {
  white-space: pre-line;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

ul li {
  text-transform: uppercase;
  list-style: none;
}

input:checked + label {
  color: black;
}

details summary {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }
}

