.content-wrapper {
  width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .content-wrapper {
      width: 1005px; } }
  @media screen and (max-width: 1024px) {
    .content-wrapper {
      width: 881px; } }
  @media screen and (max-width: 900px) {
    .content-wrapper {
      width: 749px; } }
  @media screen and (max-width: 768px) {
    .content-wrapper {
      width: 581px; } }
  @media screen and (max-width: 600px) {
    .content-wrapper {
      width: 461px; } }
  @media screen and (max-width: 480px) {
    .content-wrapper {
      width: 300px; } }
  @media screen and (max-width: 300px) {
    .content-wrapper {
      width: 260px; } }

/*# sourceMappingURL=wrapper.css.map */
