.content-wrapper {
  width: 1200px; // 0 - 820 820 - 1400
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 1005px;
  }

  @media screen and (max-width: 1024px) {
    width: 881px;
  }

  @media screen and (max-width: 900px) {
    width: 749px;
  }

  @media screen and (max-width: 768px) {
    width: 581px;
  }

  @media screen and (max-width: 600px) {
    width: 461px;
  }

  @media screen and (max-width: 480px) {
    width: 300px;
  }

  @media screen and (max-width: 300px) {
    width: 260px;
  }
}

//320px 480px: Mobile devices
//481px 768px: iPads, Tablets
//769px 1024px: Small screens, laptops
//1025px 1200px: Desktops, large screens
//1201px and more  Extra large screens, TV
