.comment-form {
  display: flex;
  flex-direction: column; }
  .comment-form .buttons-container {
    align-self: flex-end;
    display: flex;
    gap: 20px; }
  .comment-form textarea {
    height: 200px; }

/*# sourceMappingURL=comment_form.css.map */
