@import "../../scss/constants/fonts";
@import "../../scss/constants/colours";

.form-with-checkboxes {
  button {
    font: $caption-text;
  }

  span, label {
    font: $caption-text;
   // text-transform: uppercase;
    color: $dark-grey;
  }
}
