@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Code&family=Open+Sans:wght@400;700&display=swap");
.form-with-checkboxes button {
  font: 14px "Open Sans", sans-serif; }
.form-with-checkboxes span, .form-with-checkboxes label {
  font: 14px "Open Sans", sans-serif;
  color: #666666; }

/*# sourceMappingURL=form_with_checkboxes.css.map */
