.search-form {
  width: 400px;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
  }

  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .search-form {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .search-form {
    width: 250px;

    div {
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-right: 0;
    }
  }
}
