.search-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .search-form div {
    display: flex;
    justify-content: space-between; }

@media screen and (max-width: 480px) {
  .search-form {
    width: 300px; } }
@media screen and (max-width: 300px) {
  .search-form {
    width: 250px; }
    .search-form div {
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-right: 0; } }

/*# sourceMappingURL=search_form.css.map */
