.card-with-top-image {
  overflow: hidden;
  margin-bottom: 30px; }
  .card-with-top-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition-duration: 1s;
    margin-bottom: 10px; }

.card-with-top-image:hover img {
  width: 105%;
  transition-duration: 1s; }

/*# sourceMappingURL=card_with_top_image.css.map */
