.card-with-top-image {
  margin-bottom: 30px;

  h2, h3 {
    text-align: left;
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition-duration: 1s;
    margin-bottom: 10px;
  }
}

.card-with-top-image:hover {
  img {
    width: 105%;
    transition-duration: 1s;
  }
}

.text-container {
  $space-around: 50px;
}
