.cards-scroll-gallery {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: flex-start;
  align-items: center; }
  .cards-scroll-gallery .cards-container {
    display: flex;
    gap: 50px;
    width: 100%;
    overflow: hidden; }

/*# sourceMappingURL=cards_scroll_gallery.css.map */
