.cards-scroll-gallery {
  display: flex;
  gap:  50px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  .cards-container {
    display: flex;
    gap: 50px;
    width: 100%;
    overflow: hidden;
  }
}
